/*Prevent text size change on orientation change.*/
html {
	-webkit-text-size-adjust: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(Quicksand-Regular.ttf) format('truetype');
}

#map-canvas {
	height: 90%;
}

#top {
	height: 10%;
	background: #000; /*f0eae2*/
	text-align: center;
}

#title {
	position: relative;
	left: 30px;
	display: inline;
	padding-top: 5px;
	margin: 0;
	color: #15b9a1;
	font: 26pt Quicksand, arial;
}

#sidebar-toggle {
	position: absolute;
	top: -9999px;
	left: -9999px;
    visibility: hidden;
}

#sidebar-toggle + label {
	float: right;
	margin-top: 8px;
	margin-right: 10px;
    z-index: 9001;
    background: #302f39;
    border-radius: 3px;
    display: block;
    padding: 13px 9px;
    -webkit-transition:  left 0.25s ease-in-out;
    -moz-transition:  left 0.25s ease-in-out;
    -ms-transition:  left 0.25s ease-in-out;
    -o-transition:  left 0.25s ease-in-out;
    transition:  left 0.25s ease-in-out;
}

#sidebar-toggle + label .bar{
    display: block;
    width: 19px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #eeebdf;
    border-radius: 1px;   
}

#sidebar-toggle + label .bar:last-child{
     margin-bottom: 0;   
}

#sidebar {
	display: none;
	position: absolute;
    z-index: 9001;
    right: 0;
    top: 10%;
    width: 160px;
    height: 90%;
    background: #302f39;
}

#sidebar-toggle:checked + label {
	background: #504f59;
}

#sidebar-toggle:checked + label +  #sidebar {
	display: block;
}

.map-btn {
	background: #fff;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	font-size: 12px;
	padding: 10px;
	margin: 10px;
}

.map-btn:active {
	box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}

#kth-btn {
	color: #fff;
	background: #2258a5;
	border: 2px #fff solid;
}

#new-york-btn {
	
}

#up-btn {
	position: absolute;
	bottom: 7%;
	left: 50%;
	transform: translateX(-50%);
	height: 10px;
	width: 20px;
}

#left-btn {
	position: absolute;
	bottom: 1%;
	left: 40%;
	transform: translateX(-50%);
	height: 10px;
	width: 20px;
}

#down-btn {
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
	height: 10px;
	width: 20px;
}

#right-btn {
	position: absolute;
	bottom: 1%;
	left: 60%;
	transform: translateX(-50%);
	height: 10px;
	width: 20px;
}

#drag-marker-btn, #non-drag-marker-btn {
	
}